<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid p-5" style="width: 900px;">
        <div>
            <div class="row pt-3">
                <h1>Wallet</h1>
            </div>
            <div class="row pt-3">
                <div class="col-sm-12" id="wallet_amount">0</div>
                <button class="mt-2" id="road_wallet">Road Wallet</button>
            </div>
            <div class="row pt-3">
                <label for="public_key">Public Key</label>
                <textarea id="public_key" rows="2" cols="100"></textarea>
            </div>
            <div class="row pt-3">
                <label for="private_key">Public Key</label>
                <textarea id="private_key" rows="1" cols="100"></textarea>
            </div>
            <div class="row pt-3">
                <label for="address">Public Key</label>
                <textarea id="address" rows="1" cols="100"></textarea>
            </div>
        </div>
        <div class="pt-5">
            <div class="row">
                <h1>Send Money</h1>
            </div>
            <div class="row pt-3">
                <label for="recipient_blockchain_address">Address</label>
                <input id="recipient_blockchain_address" size="100" type="text">
            </div>
            <div class="row pt-3">
                <label for="send_amount">Amount</label>
                <input id="send_amount" size="100" type="text">
            </div>
            <div class="row pt-2">
                <button class="col-sm-2 pt-1" id="send_money_button">Send</button>
            </div>
        </div>
    </div>
</body>
</html>
